<!DOCTYPE html>
<head>{{> /include/header }}
</head>
<body>
	{{> /include/navigation }} 
	{{#boardDetail}}
	<div class="container">
<!-- 		<h1>Board Detail</h1> -->
				<blockquote>
					<p>{{title}}</p>
					<footer>
						{{{contents}}}</cite>
					</footer>
				</blockquote>
		<br>		
		<br>		
		<br>		
		<a class="btn btn-primary  btn-lg btn-block" href="/board/modify/{{id}}" role="button">Modify</a>
<!-- 		<a class="btn btn-primary" href="/board/delete/{{id}}" role="button">Delete</a> -->
<!-- 		<form action="/board/modify/{{id}}" method="POST"> -->
<!-- 		    <input type="hidden" name="_method" value="PUT"> -->
<!-- 			<button type="submit" class="btn btn-primary">Modify</button> -->
<!-- 		</form> -->
<!-- 		<form action="/board/delete/{{id}}" method="POST"> -->
<!-- 		    <input type="hidden" name="_method" value="DELETE"> -->
<!-- 			<button type="submit" class="btn btn-primary">Delete</button> -->
<!-- 		</form> -->
            <br>
            <br>
            <br>
			<div class="reply-list">
			{{#reply}}
						<div class="media">
							<div class="media-left">
								<img src="/images/img_avatar1.png" class="media-object"
									style="width: 45px">
							</div>
							<div class="media-body">
								<h4 class="media-heading">
									{{writer.name}} <small><i>Posted on {{FormattedCreateDate}}</i></small>
								</h4>
								<p>{{contents}}</p>
						</div>
			{{/reply}}
			</div>

		<form class="reply-write" action="/api/board/{{id}}/reply/create" method="POST">
			<div class="form-group">
				<textarea class="form-control" rows="3" name="contents"
					placeholder="reply"></textarea>
			</div>
			<button type="submit" class="btn btn-primary  btn-lg btn-block">Save Reply</button>
		</form>
	<br>
	<br>
	<br>
	{{/boardDetail}}
	</div>
	<div class="container">
<!-- 		<h1>BOARD</h1> -->

		<div >
			<table class="table table-hover">
				<!-- 				<caption>Optional table caption.</caption> -->
				<thead>
					<tr>
						<th>id</th>
						<th>title</th>
						<th>writer</th>
						<th>createDate</th>
					</tr>
				</thead>
				<tbody>
					{{#boardList}}
					<tr onclick="location.href='/board/list/{{id}}';"
						style="cursor: pointer;">
						<td>{{id}}</td>
						<td>{{title}}</td>
						<td>{{writer.userId}}</td>
						<td>{{FormattedCreateDate}}</td>
					</tr>
					{{/boardList}}
				</tbody>
			</table>
			<a class="btn btn-primary btn-lg btn-block" href="/board/createForm" role="button">Write</a>
			
			<center>
			<nav aria-label="Page navigation">
			  <ul class="pagination pagination-lg">
				{{#pageInfoList}}
			    <li {{{active}}}><a href="/board/list?selPageNo={{selPageNo}}&selPageSize={{pageSize}}">{{{pageText}}}</a></li>
				{{/pageInfoList}}
			    </li>
			  </ul>
			</nav>
			<div id="rowNumOfPage">
					<nav aria-label="Page navigation">
					  <ul class="pagination">
						{{#rowNumOfPageList}}
					    <li {{{active}}}><a href="/board/list?selPageSize={{rowNumOfPage}}">{{rowNumText}}</a></li>
						{{/rowNumOfPageList}}
					  </ul>
					</nav>
			</div>
			
			</center>
		</div>

	</div>
</body>
{{> /include/footer }}


<script type="text/template" id="replyTemplate">
			<div>
				<div class="media">
					<div class="media-left">
						<img src="/images/img_avatar1.png" class="media-object"
							style="width: 45px">
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							{0} <small><i>Posted on {1}</i></small>
						</h4>
						<p>{2}</p>
				</div>
			</div>
</script>
</html>

