<!DOCTYPE html>
<html lang="en">
<head>
{{> /include/header }}

<script src="/ckeditor/ckeditor.js"></script>
<script src="/js/board/sample.js"></script>

</head>
<body>
	{{> /include/navigation }}
	
	{{#boardDetail}}
	<div class="container">
		<h1>Modify Board</h1>
		<form action="/board/modify/{{id}}" method="POST">
		<input type="hidden" name="_method" value="PUT" >
			<div class="form-group">
				<label for="title">Title</label> <input type="text"
					class="form-control" name="title" placeholder = "Title" value="{{title}}" >
			</div>
			<div class="form-group">
  				<label for="contents">Contents</label> 
		    	<textarea id="contents" class="form-control" rows="3" name="contents" placeholder = "Contents">{{contents}}</textarea>
			</div>
    		<a class="btn btn-primary btn-lg btn-block" href="/board/list/{{id}}" role="button">LIST</a><br>
			<button type="submit" class="btn btn-primary btn-lg btn-block">SAVE</button><br><br><br><br><br><br><br>
		</form>
		<form action="/board/modify/{{id}}" method="POST">
		<input type="hidden" name="_method" value="DELETE" >
		<button type="submit" class="btn btn-danger btn-lg btn-block">DELETE</button>
		</form>
	</div>
	{{/boardDetail}}
</body>
<script>
	initSample();
</script>
</html>